<div class="cadastro-wrapper">
    <h2 class="cadastro-titulo">Cadastro de questão</h2>
    <mat-divider class="cadastro-divider"></mat-divider>
  
    <div *ngIf="mensagemSucesso" class="alert-sucesso">
      <mat-icon>check_circle</mat-icon>
      Sua questão foi cadastrada com sucesso!
    </div>

    <div *ngIf="mensagemFalha" class="alert-falha">
      <mat-icon>error</mat-icon>
      Ops! Falha ao tentar cadastrar questão. Tente novamente mais tarde.
    </div>

    <form [formGroup]="form" class="form-container" (ngSubmit)="onSubmit()" cdkScrollable>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Digite aqui seu enunciado</mat-label>
        <textarea
          matInput
          formControlName="enunciado"
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="10">
        </textarea>
      </mat-form-field>
  
      <div class="flex gap-4">
        <mat-form-field style="margin-right: 100px;" appearance="outline" class="form-field-sm">
          <mat-label>Quantidade de alternativas</mat-label>
          <input matInput type="number" formControlName="quantidade" (wheel)="onWheel($event)" />
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="form-field-sm" [floatLabel]="'always'">
          <mat-label>Alternativa correta (letra)</mat-label>
          <input
            matInput
            type="text"
            maxlength="1"
            formControlName="respostaCorreta"
            autocomplete="off"
          />
          <mat-error *ngIf="respostaCorreta?.hasError('letraInvalida')">Opção inválida. Deve estar entre A e {{ getLetraAlternativaMaxima() }}.</mat-error>
        </mat-form-field>
      </div>
      
      <div formArrayName="alternativas" class="flex flex-col gap-4 w-full">
        <div *ngFor="let alt of alternativas.controls; let i = index" [formGroupName]="i">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Alternativa {{ getLetraAlternativa(i) }}</mat-label>
            <input matInput formControlName="texto" />
          </mat-form-field>
        </div>
      </div>
  
      <button mat-flat-button color="primary" class="btn-salvar" type="submit" [disabled]="form.invalid">
        Salvar
      </button>
    </form>
  </div>
  