<header class="header">
    <!-- Botões Centralizados -->
    <div class="menu-container">
      <button mat-button>
        <mat-icon>home</mat-icon> Início
      </button>
      
      <button mat-button [matMenuTriggerFor]="simuladosMenu">
        <mat-icon>fact_check</mat-icon> Simulados
      </button>
      
      <button mat-button>
        <mat-icon>person</mat-icon> Conta
      </button>
      
      <button mat-button>
        <mat-icon>group</mat-icon> Sobre nós
      </button>
      
      <button mat-button [matMenuTriggerFor]="painelMenu">
        <mat-icon>settings</mat-icon> Administração
      </button>
    </div>
  
    <!-- Botão Sair (Fixo na Direita) -->
    <div class="logout-container">
        <span class="divider">|</span>
        <button mat-button class="logout-btn">
            <mat-icon>logout</mat-icon> Sair
        </button>
    </div>
  
    <!-- Menus Dropdown -->
    <mat-menu #simuladosMenu="matMenu">
        <button mat-menu-item>Simulado 1</button>
        <button mat-menu-item>Simulado 2</button>
    </mat-menu>
  
    <mat-menu #painelMenu="matMenu">
        <button mat-menu-item [routerLink]="'/questoes/consultar'">Consultar questões</button>
        <button mat-menu-item [routerLink]="'/questoes/cadastrar'">Cadastrar questão</button>
        <button mat-menu-item [routerLink]="'/simulados/cadastrar'">Cadastrar simulado</button>
        <button mat-menu-item [routerLink]="'/simulados/consultar'">Consultar simulados</button>
        <button mat-menu-item [routerLink]="'/usuarios/gerenciar'">Gerenciar usuários</button>  
      </mat-menu>
  </header>