<app-layout-basico titulo="Questões">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Pesquisar por enunciado</mat-label>
    <input matInput [(ngModel)]="filtroEnunciado" placeholder="Digite parte do enunciado" />
  </mat-form-field>

  <div class="questao-card" *ngFor="let questao of questoesFiltradas()">
    <div class="card-header">
      <span class="enunciado">{{ questao.enunciado }}</span>
      <div class="icons">
        <button mat-icon-button (click)="editar(questao)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="mostrarModalExclusao(questao)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="alternativas">
      <div *ngFor="let alt of questao.alternativas; index as i">
        <strong>{{ getLetra(i) }}:</strong> {{ alt }}
      </div>
    </div>
  </div>
</app-layout-basico>

<ng-container *ngIf="mostrarConfirmacaoExclusao">
  <div class="backdrop"></div>
  <div class="modal-confirmacao">
    <h3 class="titulo-modal">Tem certeza que deseja excluir?</h3>
    <p class="texto-modal">
      Você está excluindo a questão '{{ questaoSelecionada?.enunciado }}'.<br />
      Deseja continuar?
    </p>

    <div class="botoes">
      <button class="botao cancelar" (click)="mostrarConfirmacaoExclusao = false">
        Cancelar
      </button>
      <button class="botao excluir" (click)="excluir()">
        Excluir
      </button>
    </div>
  </div>
</ng-container>
